.grid-deal-show {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows:auto;
  height: 50vh;
  grid-gap: 50px;
}


.deal-show-title {
  padding-bottom: 40px;
}

.deal-company-info {
  padding-top: 20px;

}

.deal-info{
  background-color: rgba(255,255,255,.8);
  box-shadow: 3px 3px 3px rgba(0,0,0,.1);
  padding: 30px;
  color:rgba(0,0,0,.5);
  font-size: 16px;
  margin-right: 200px;
  width:400px;
}
