.wrapper {
  // background-image: linear-gradient(-225deg, rgba(0,150,180,0.9) 0%, rgba(0,36,61,0.9) 50%), url("http://res.cloudinary.com/dz9p1e6np/image/upload/v1523544914/photo-1518107616985-bd48230d3b20.jpg");
  padding-top: 30px;
  background-color: rgba(255,255,255,1);
}


.card-photo {
  height: 255px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:50px;


}

.deal-content{
  position:absolute;
  left: 270px;
  top:20px;
  width: 250px;

}

.company-logo{
  position: absolute;
  left: 15px;
  top: 15px;
  img {
    width: 230px;
    border-radius: 50%;
  }
}

.legal-name{
    font-weight:bolder !important;
    font-size:32px;
    color: rgba(0,0,0,1);
    line-height:30px;
}


.interest-and-rating{
  margin-top:10px;
  font-size:24px;
  line-height: 40px;
  font-weight:lighter;
  color:rgba(0,0,0,.6);

  .interest-value{

  }


}





.company-description {
 width:400px;
 text-align: center;
 position:absolute;
 top:80px;
 right:20px;
 font-size: 22px;
 font-weight:lighter;

}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


.card-index-grid {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.descript-card {
  height: 40px;
  background-color: rgba(0,0,0,.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;


    .deal-amount{
    color:rgb(0,0,0);
    font-weight:thin;
    font-size: 16px;
    right: 5px;
    }

    .status {
      font-weight: bolder;


    }
}

.deal-completion {
  background-color: white;
}

.loaded {
  color:#fff!important;
  background-color: rgba(51, 204, 51, 1) !important;
}






.text-deal {

  color: black;
  font-size: 24px;
  font-weight:bolder;
  padding: 16px 32px;
  text-align: right;
  flow: hidden;

  p{
    font-size:20px !important;
    font-weight: lighter !important;
  }
}


.card-deal{
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  height: 300px;
  margin: 0px 100px;
  position: relative;



  .deal-interest{
    position:absolute;
    left:10px;
    bottom:10px;
    width:300px;
    color: black !important;
    display:flex;

  }



  .interest-time{
    font-size:24px;
    padding-top:13px;
    margin-left: 10px;

  }

  .deal-rating{
    display:flex;
    position:absolute;
    right:10px;
    bottom: 10px;
  }

  .rating-label{
    font-size:24px;
    padding-top:13px;
    margin-left: 5px;

  }



}
