.wrapper {
  background-image: linear-gradient(-225deg, rgba(0,150,180,0.9) 0%, rgba(0,36,61,0.9) 50%), url("http://res.cloudinary.com/dz9p1e6np/image/upload/v1523544914/photo-1518107616985-bd48230d3b20.jpg");
  padding-top: 30px;
}


.card-photo {
  height: 255px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.company-logo{

  img {
    width: 100px;
    border-radius: 50%;
  }
}

.legal-name{
    font-weight:bolder !important;
    position: absolute;
    left: 5px;
}

.interest-value{
    font-size:36px;
    float: left;
    font-weight:bolder;
}

.rating-value{
    font-size:36px;
    font-weight:bolder;
}

.company-description {
}

.deal-duration {
}



// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


.card-index-grid {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.descript-card {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;


    .deal-amount{
    color:rgb(0,0,0);
    font-weight:thin;
    font-size: 16px;
    right: 5px;
    }

    .status {
      font-weight: bolder;


    }
}

.deal-completion {
  background-color: white;
}

.loaded {
  color:#fff!important;
  background-color: rgba(51, 204, 51, 1) !important;
}






.text-deal {

  color: black;
  font-size: 24px;
  font-weight:bolder;
  padding: 16px 32px;
  text-align: right;
  flow: hidden;

  p{
    font-size:20px !important;
    font-weight: lighter !important;
  }
}


.card-deal{
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  height: 300px;
  position: relative;


  .deal-interest{
    position:absolute;
    left:10px;
    bottom:10px;
    width:300px;
    color: black !important;
    display:flex;

  }



  .interest-time{
    font-size:24px;
    padding-top:13px;
    margin-left: 10px;

  }

  .deal-rating{
    display:flex;
    position:absolute;
    right:10px;
    bottom: 10px;
  }

  .rating-label{
    font-size:24px;
    padding-top:13px;
    margin-left: 5px;

  }



}
