// Specific CSS for your home-page
.background-home{
  background-image: linear-gradient(-225deg, rgba(0,150,180,0.9) 0%, rgba(0,36,61,0.9) 50%), url("http://res.cloudinary.com/dz9p1e6np/image/upload/v1523544914/photo-1518107616985-bd48230d3b20.jpg");
  background-size: cover;
  height: 100vh;
  p{
    color:white;
    font-size: 36px !important;
  }

}

.home-body{
  margin: 0px 100px 40px 0px;
  color:white;
  h2{
    font-size: 72px;
    font-family: 'Montserrat';
    font-weight:bolder;
  }
}

.home-top{
  display:flex;
  justify-content: space-between;
}


.container-white {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 50px;

  h2 {
    font-family: 'Montserrat';
    text-align: center;
    font-weight:bold;
    color:rgba(0,0,0,1);
    font-size:64px;
  }
}

.features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top:50px;
  // border-bottom: 4px solid rgba(0,0,0,.9);
}

.feature {
  width: 300px;
  h6{
    font-family: 'Montserrat';
    font-weight:bolder;
    font-size:24px;
    color:rgba(0,0,0,1);
    line-height: 32px;
    margin-top:25px;
    margin-bottom:100px;
  }
}
