.bodydash {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
}
.text-center {
  text-align: center;
}

#novemp {
  position: relative;
  margin-top: 10px;
}

#bilu {
  position: absolute;
  right: 10px;

}

.jubilu {
  margin-bottom: 20px;
}
