.container-sign-in {
 background-image: linear-gradient(-225deg, rgba(0,150,180,0.9) 0%, rgba(0,36,61,0.9) 50%), url("http://res.cloudinary.com/dta0lx6co/image/upload/v1523564082/photo-1493970866116-fe0cad1a5727.jpg
");
 background-size: cover;
 height: 100vh;
 position: relative;
}
