<div class="footer">
  <div class="footer-left-block">
  <h6>Se inscreva para receber as ultimas noticias</h6>
  <form action="">
    <div class="subscribe-email">
    <input class="form-control" type="text" name="email" placeholder="email">
    <input type="submit" class="btn btn-success"value="Submit">
  </div>
  </form>
  </div>
  <div class="footer-right-block">
  <h4>CREDITEU</h4>
  <ul>
    <li>Crediteu é um site legal</li>
    <li>Crediteu é um site bacana</li>
  </ul>
  </div>
</div>
