<div class="container">
  <div style="text-align: center; margin-top:30vh;">
    <h1>Crediteu</h1>
    <p>Uma melhor oportunidade para investidores e micro-emprendedores através de empréstimos descentralizados</p>

    <div class="btn btn-success">Quero investir</div>
    <div class="btn btn-success">Quero empréstimo</div>
  </div>
</div>
