<!-- <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
 -->
<div class="background-simulation">
  <div class="container">

    <div class="sim-grid">
      <div class="form-sim">
        <form action=''>
          <h3>Faturamento Anual:</h3>
          <select name="Yearly Income" id='inc'>
            <option value=1 selected>10k-90k</option>
            <option value=2>100k-200k</option>
            <option value=3>200k-300k</option>
            <option value=4>500k-1M</option>
          </select>

          <h3>Duração do Empréstimo:</h3>
          <select name="Number of Months" id='numb'>
            <option value=6 selected>6 meses</option>
            <option value=8>8 meses</option>
            <option value=12>12 meses</option>
            <option value=24>24 meses</option>
          </select>

          <h3>Valor do Empréstimo:</h3>
          <select name="Loan Amount" id='amo'>
            <option value=20000 selected>R$20.000</option>
            <option value=40000>R$40.000</option>
            <option value=80000>R$80.000</option>
            <option value=150000>R$160.000</option>
          </select>
          <br><br>
          <input type="submit" id='buton' class="btn btn-success btn-lg btn-block" value="Simule!" >
        </form>
      </div>

      <div class="interest-sim">
        <h3 class="hidden-div" id="hidiv">Sua taxa de juros estimada é:</h3>
        <h3 id='testx'></h3>
        <br>
         <div >
      <a href="/users/sign_up?is_company=true" id="but-sign-up" class="hidden-div btn btn-lg btn-success">Se inscreva!</a>
    </div>
      </div>
    </div>


  </div>


  <%= content_for(:after_js) do %>
    <script>
  document.getElementById("buton").addEventListener("click", (event) => {
      event.preventDefault();

      document.getElementById("hidiv").classList.remove('hidden-div');
      document.getElementById("but-sign-up").classList.remove('hidden-div');
      let rate = (((4 - (document.getElementById("inc").value/1) + (document.getElementById("amo").value/1000) + (document.getElementById("numb").value/1)) / 10) - 7).toFixed(2);
      document.getElementById("testx").innerHTML = `${rate}% por mês`
  });
    </script>

  <% end %>
</div>
