
  <body class='bodydash'>
    <div class="container">

      <h1>Suas transações:</h1>

      <div class="tabs">
        <a href="#" class="tab active">crediteu</a>
      </div>

      <ul class="inbox">
          <% current_user.investor.transactions.each do |transaction| %>



        <li class="message">
          <img src='https://source.unsplash.com/random' alt="" class="avatar-large">
          <div class="message-name">
            <h3><%= transaction.deal.company.legal_name %></h3>
            <p>.</p>
          </div>
          <div class="message-body">
            <p><strong>Rating de risco - '<%= transaction.deal.credit_rating %>'</strong></p>
            <p>
              Valor total do empréstimo solicitado: R$ <%= number_with_delimiter(transaction.deal.amount.to_i) %>
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Aprovado</p>
            <p class="price"><%= transaction.participation %> mil reais</p>
          </div>
        </li>

      </ul>
      <% end %>

    </div>
  </body>
