
.sign-in-form, .new-company-and-investor{
    .email, .password {

        font-size: 24px;
        height:50px;
    }
}

.pair-form{
  display: flex;
  justify-content: space-between;
}

.trio-form{
  display: flex;
  justify-content: space-between;
}
