.navbar-transparent{
  position: relative;
  h1{
      color:rgba(255,255,255,1);
      font-family: 'Karla', sans-serif;
      font-weight: bolder;
      font-size:48px !important;
      letter-spacing: 2px;
      margin: 0px;
      position: absolute;
      left:25px;
      top:15px;
      a{
        text-decoration: none;
        color: rgba(255,255,255,.8);
      }
      a:hover{
        color: rgba(255,255,255,1);
      }
    }
  .home-login, .home-deals{
  position:absolute;
  right:25px;
  top:25px;

    a{
      color:rgba(255,255,255,.6) !important;
      font-weight: bolder;
    }
    a:hover{
      text-decoration:none !important;
      color:rgba(255,255,255,1) !important;
    }
  }
  .dropdown{
    position:absolute;
    top:20px;
    right:20px;
  }

  .burger {

  height: 20px;
  width: 20px;
  border-radius: 50%;
  }
}
